body {
    background-color: black;
    color: aliceblue;
}

#registrationForm {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #333333;
    width: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 300px;
}

.form-field {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.form-field-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-field-caption {
    padding-top: 7px;
    display: inline-block;
}

.form-field-input {
    display: inline-block;
    width: 300px;
    height: 30px;
}

#listForm {
    border: 1px solid black;
}

.ng-valid {
    background-color: aquamarine;
}

.form-field-forsaken {
    background-color: salmon;
}