<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>whatIsDate</title>
		<link rel="stylesheet" href="styles/style.css">
	</head>
	<body>
	<div class="entry-for-ng-styling" ng-app="stylingForMainPage" ng-controller="styleMainPageBody">
		{{style()}}
		  <!--	binds ng-model to input -->

	</div>
	<div class="entry-ng-module-1" ng-app="ngModule1" ng-controller="ngModule1Ctrl">
		
		<div>
			<label> Input date to parse <input type="text" ng-model="date"> </label>
		</div>
		<div>
			<label> How to parse your date <input type="text" ng-model="dateParseFormat"> </label>
		</div>
		<div>
			<label> Input your custom date format <input type="text" ng-model="dateCustomFormat"> </label>
			<span class="iso-output">{{momentISOoutput(date, dateParseFormat, locale)}}</span>
			<span class="rfc-output">{{momentRFCoutput(date, dateParseFormat, locale)}}</span>
		</div>
		<div>
			<label> Input specific locale <input type="text" ng-model="locale"> </label>
		</div>
		<!-- bind value in angular expression to input ng-model with name : name -->
		<div class="testNgExp">
			<div>{{"Locale is: " + locale + " format: " + dateCustomFormat + " initial date: " + date + " and date after filter1 is: "  +
				momentCustomOutput(date, dateParseFormat, dateCustomFormat, locale) }}
			</div>
			<!-- init variable, and switch on click to show/hide .hello -->
			<input type="button" name="showHello" ng-click = "isHelloVisible = !isHelloVisible" ng-init="isHelloVisible = true" value="clickToSwitchVisability">
		</div>
	</div>
s
	<div>

	</div>
		<script data-main="main.js" src="require.js"></script>
	</body>
</html>
