<!DOCTYPE html>
<html ng-app="ngModule1">
	<head>
	</head>
	<body>
	<!--	binds ng-model to input -->
	<label> Input date to parse <input type="text" ng-model="date"> </label>
	<label> How to parse your date <input type="text" ng-model="dateParseFormat"> </label>
	<label> Input your custom date format <input type="text" ng-model="dateCustomFormat"> </label>
	<label> Input specific locale <input type="text" ng-model="locale"> </label>
	<div class="hello" ng-show="isHelloVisible">Hello world </div>
	<!-- bind value in angular expression to input ng-model with name : name -->
	<div class="testNgExp"  ng-controller="ngModule1Ctrl">
		<div>{{"Locale is: " + locale + " format: " + dateCustomFormat + " initial date: " + date + " and date after filter1 is: "  + momentCustomOutput(
    		date, dateParseFormat, dateCustomFormat, locale) }}</div>
	</div>

	<div>

		<!-- init variable, and switch on click to show/hide .hello -->
		<input type="button" name="showHello" ng-click = "isHelloVisible = !isHelloVisible" ng-init="isHelloVisible = true" value="clickToSwitchVisability">
	</div>
		<script data-main="main.js" src="require.js"></script>
	</body>
</html>
