<!--mainCtrl is instance of ctrl and as prop rootListForm is not exist, then formCtrl will be binded here-->
<ng-form name="mainCtrl.rootListForm">
    <form-field
            ng-repeat="modelSync in models"
            model-sync="modelSync"
            ng-model="modelSync.formFieldTextDisplay"
            caption="modelSync.formFieldCaption"
            ng-required="true"
            pattern="'[a-zA-Z0-9]+'"
            on-change="handle.onChangeFormField(textDisplayed, name)"
    >
    </form-field>
</ng-form>