<!--mainCtrl is instance of ctrl and as prop rootListForm is not exist, then formCtrl will be binded here-->
<ng-form name="rootListForm" ng-controller="MainFormCtrl">
    <label ng-repeat="modelSync in models" ng-if="modelSync.formFieldVisibility" class="form-field" ng-cloak>
        {{modelSync.formFieldCaption}}
        <input form-field name="{{modelSync.formFieldName}}" type="text" ng-model="modelSync.formFieldTextDisplay"
               ng-required="true"
               ng-pattern="/[a-zA-Z0-9]+/"
               ng-change="handle.onChangeFormField(modelSync.formFieldTextDisplay, modelSync.formFieldName)"/>
    </label>
</ng-form>